#slider1_container{position: relative; top: 0px; left: 0px; width: 100% !important;height: 300px; background: #000; overflow: hidden;}
.slide-div-loading{position: absolute; top: 0px; left: 0px;}
.slide-div-loading .slide-div-loading-first{filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block;background-color: #000000; top: 0px; left: 0px; width: 100%; height: 100%;}
.slide-div-loading .slide-div-loading-last{position: absolute; display: block; background: url(images/loading.gif) no-repeat center center;top: 0px; left: 0px; width: 100%; height: 100%;}
.slide-container{cursor: move; position: absolute; left: 0px; top: 0px; width: 70% !important;height: 300px; overflow: hidden;}

/* Thumbnail Item Skin Begin */
/* jssor slider thumbnail navigator skin 11 css */
/*
.jssort11 .p            (normal)
.jssort11 .p:hover      (normal mouseover)
.jssort11 .pav          (active)
.jssort11 .pav:hover    (active mouseover)
.jssort11 .pdn          (mousedown)
*/
.jssort11
{
    font-family: Arial, Helvetica, sans-serif;position: absolute; width: 200px;height: 300px; left: 805px; top: 0px;
}
.image-slide{}

.jssort11 .i, .jssort11 .pav:hover .i
{
    position: absolute;
    top: 3px;
    left: 3px;
    width: 60px;
    height: 30px;
    border: white 1px dashed;
}
* html .jssort11 .i
{
    width: /**/ 62px;
    height: /**/ 32px;
}
.jssort11 .pav .i
{
    border: white 1px solid;
}
.jssort11 .t, .jssort11 .pav:hover .t
{
    position: absolute;
    top: 3px;
    left: 68px;
    width: 129px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #fc9835;
    font-size: 13px;
    font-weight: 700;
}
.jssort11 .pav .t, .jssort11 .phv .t, .jssort11 .p:hover .t
{
    color: #fff;
}
.jssort11 .c, .jssort11 .pav:hover .c
{
    position: absolute;
    top: 38px;
    left: 3px;
    width: 197px;
    height: 31px;
    line-height: 31px;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    overflow: hidden;
}
.jssort11 .pav .c, .jssort11 .phv .c, .jssort11 .p:hover .c
{
    color: #fc9835;
}
.jssort11 .t, .jssort11 .c
{
    transition: color 2s;
    -moz-transition: color 2s;
    -webkit-transition: color 2s;
    -o-transition: color 2s;
}
.jssort11 .p:hover .t, .jssort11 .phv .t, .jssort11 .pav:hover .t, .jssort11 .p:hover .c, .jssort11 .phv .c, .jssort11 .pav:hover .c
{
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}
.jssort11 .p
{
    background: #181818;position: absolute; width: 200px; height: 69px;top: 0; left: 0;
}
.jssort11 .pav, .jssort11 .pdn
{
    background: #462300;
}
.jssort11 .p:hover, .jssort11 .phv, .jssort11 .pav:hover
{
    background: #333;
}
