.DefaultModule {
background-color: #FFFFFF;
border: 1px solid #d3d3d3;
margin-bottom: 9px;
box-shadow: 0 2px 7px #ddd;
moz-box-shadow: 0 2px 7px #d7d7d7;
-webkit-box-shadow: 0 2px 7px #d7d7d7;
}
.hide{display:none;}
/*Add: Backgroup image cho menu left*/
.defaultTitle {
background-image: url("style-img/bg_tittle.gif");
background-position: center bottom;
background-repeat: no-repeat;
color: #2E2D29;
font-size: 14px;
font-weight: bold;
height: 43px;
line-height: 30px;
text-align: center;
text-transform: uppercase;
}
#vertical-menu ul{padding-left: 5px;}
#vertical-menu ul li.first {
border: none;
}
#vertical-menu ul li {
color: #151515;
display: block;
font-size: 12px;
padding: 5px 5px 6px;
margin-top:3px;
margin-bottom:3px;
/*text-transform: uppercase;*/
z-index: 999;
}
#vertical-menu ul li a{display:block;min-width:100%;height:12px;}
#vertical-menu ul li a:hover{
color: Red;
font-weight:bold;
}
#vertical-menu ul li a span{padding-left:15px;}
.cate-menu-content a.style-list{/*content: url('style-img/list_style.gif');margin-left: -8px;
margin-right: 5px;*/
background: url("style-img/list_style.gif") no-repeat scroll 1px 1px transparent;
}
.cate-menu-content a.style-list-sub{background: url("style-img/list_style_sub.gif") no-repeat scroll 4px 5px transparent;}

.defaultContentTitle{border-bottom: 2px solid rgb(172, 171, 171);
color: #2E2D29;
font-family: Arial;
font-size: 13px;
line-height: 30px;
font-weight: bold;
margin-bottom: 5px;
text-align: left;
text-transform: uppercase;
}

.DefaultModuleContent{box-shadow: 0 2px 7px #ddd;
margin: 0 auto;
moz-box-shadow: 0 2px 7px #d7d7d7;
-webkit-box-shadow: 0 2px 7px #d7d7d7;
background: #fff;
border: 1px solid #d3d3d3;
margin-bottom: 10px;width:99.5%;}
.defaultContentDetail,.defaultContentTitle span{margin-left:5px;}
.defaultContentDetail{padding-bottom:5px;display:inline-block;width:98.5%;}

/* List product*/
.div-product-list {display: inherit;}

/*List content view*/
.list_product{list-style-image: none;
list-style-type: none;}
.list_product li
{
    /*height: 357px;*/
border: 1px solid #fff;
width: 180px;
float: left;
position: relative;
text-align: center;
margin-right: 5px;
margin-left:2px;
padding-bottom:10px;
}
.list_product li:hover{border: 1px solid #d3d3d3;
box-shadow: 0 2px 7px #ddd;
/*margin: 0 auto;*/
moz-box-shadow: 0 2px 7px #d7d7d7;
-webkit-box-shadow: 0 2px 7px #d7d7d7;
}
/*.list_product li:hover .show-detail{display:block !important;}
.list_product li:mouseout .show-detail{display:inline-block;}*/

.show-detail{
margin-top: 10px !important;
background: #E3E3E3;
height: 35px;
display:block;
}
div.defaultContentDetail div.show-detail{text-align:right;padding-bottom:5px;}
div.defaultContentDetail div.show-detail a{color:#a83434; font-weight:bold;}
.show-detail .show-detail-inline
{
    margin-top:6%;
    display: inline-block;
width: 99%;
height: 80%;}
.show-detail .show-detail-left{float:left;width:48%;border-right:1px solid black;padding-right:5px;text-align:center;}
.show-detail .show-detail-right{float:right;width:48%;text-align:center;}

ul.list_product li a.image {
position: relative;
width:98%;
/*width: 178px;*/
/*height: 230px;*/
display: inline-block;
text-align: left;
border: 1px solid #FFF;
background: #FFF;
margin-bottom:5px;
}
ul.list_product li h2 {
color: #292929;
font-size: 13px;
font-weight: normal;
margin: 5px;
height: 35px;
overflow: hidden;
}
ul.list_product li h2 a {
color: #292929;
font-size: 13px;
font-weight: normal;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
}

ul.list_product li p.current_price {
/*color: #727272;*/
color:Red;
font-size: 13px;
font-weight: bold;
height :16px;
line-height:16px;
}
ul.list_product li p.old_price {
text-decoration: line-through;
color: #666;
display: block;
height: 16px;
line-height:16px;
font-size: 12px;
}
.current_price_notshow:before{font-weight:bold;color:Red;content:"Giá: Liên hệ";height :16px;line-height:16px;}

/* Hiển thị các  Icon trên ảnh sản phẩm*/
.sale-percent {
width: 51px;
text-align: center;
/*display: block;*/
background: #c60001;
text-align: center;
line-height: 40px;
color: #fff;
font-weight: bold;
border-radius: 50%;
position: absolute;
top: 0px;
right: 0px;
}

.sale-mony {
width: 110px;
text-align: center;
/*display: block;*/
background: #c60001;
text-align: center;
line-height: 30px;
color: #fff;
font-weight: bold;
border-radius: 50%;
position: absolute;
top: 0px;
right: 0px;
}

.product-new-type1 {
width: 48px;
text-align: center;
/*display: block;*/
background-color: White;
background-image: url('style-img/icon_new.png');
background-repeat:no-repeat;
border:1px solid red ;
text-align: center;
line-height: 48px;
color: #fff;
font-weight: bold;
border-radius: 50%;
position: absolute;
top: 0px;
right: 0px;
}

.product-new {
width: 58px;
text-align: center;
/*display: block;*/
background-color: transparent;
background-image: url('style-img/icon_ribbon_new_en.png');
background-repeat:no-repeat;
background-size: cover;
text-align: center;
line-height: 58px;
color: #fff;
font-weight: bold;
position: absolute;
top: -7px;
left: -7px;
}

.product-hot {
width: 65px;
text-align: center;
/*display: block;*/
background-color: White;
background-image: url('style-img/icon_ribbon_hot.png');
background-repeat:no-repeat;
background-size: cover;
text-align: center;
line-height: 70px;
color: #fff;
font-weight: bold;
position: absolute;
top: 0px;
right: 0px;
}

/* Input */
input,textarea,select{text-indent:3px;padding:2px;}

/* Site map*/
.div-sitemap{line-height:25px;padding-left:5px;padding-right:3px;height:auto;display:block;}
.div-sitemap .img-sitemap{content:url('style-img/home.png');height:100%;max-height:25px;max-width:32px;margin-right:3px;}
.div-sitemap a:hover{color:#ca870d;font-weight:bold;}
.div-sitemap .a-sitemap-activate{color:#b8ae9c !important;cursor:default;}

/* Thông tin cơ bản: gồm ảnh và thông tin cơ bản*/
.product-view-detail{width:99%;margin-right:2px;margin-left:2px;}
.info-image .div-image-view{border: 1px solid #F0F0F0;max-width:462px;max-height:390px;}
.info-image .div-image-view .imgDefaultView{max-width:462px;max-height:390px;}
.info-image .div-image-list ul{width:100%; list-style:none;margin-top:5px;}
.info-image .div-image-list ul li{float:left;cursor: pointer;border: 1px solid #f2f2f2;margin-right: 3px;}
.li-hover-select-view{box-shadow: 0 2px 7px #ddd;moz-box-shadow: 0 2px 7px #d7d7d7;-webkit-box-shadow: 0 2px 7px #d7d7d7;border: 1px solid #cce307 !important;}
.info-image .td-image .div-image-list{margin-top:5px;;border-top:1px solid #d7d7d7;}
.info-image table{width:100%;}
.info-image .td-image{width:60%;vertical-align: top;}
.info-image .td-info-basic{width:40%;vertical-align:top;}
.info-image .td-info-basic .info-basic{width:98%;margin-left:3px;margin-right:3px;}

/*Thông tin giá*/
.detail-price .price{font: normal 20pt "Myriad Pro Bold Condensed", Tahoma, Arial, Verdana, sans-serif;color: #eb1c24;margin: 10px 20px 0 25px;}
.detail-price .price-old{text-decoration: line-through;color: #666;/*display: block;*/height: 20px;font-size: 12px;}
.detail-price .div-price-vat{margin-top:5px;}
.detail-price .div-price-vat .price-vat{display: inherit;color: #333;font: normal 12px Tahoma, Arial, Verdana, sans-serif;margin-left:20px;}

/*Thông tin bảo hành khác*/
.div-group-info-detail{margin-top:10px;margin-bottom:5px;}
.div-group-info-detail .list-info-detail{margin-left: 25px;padding-left:3px;margin-top:2px;}
.info-image .td-info-basic .info-basic .group-info-detail{background: url("style-img/hand-point.png") no-repeat scroll 1px 1px transparent;padding-left:25px;font-weight:bold;}
.info-image .td-info-basic .info-basic .list-info-detail{background: url("style-img/icon-item-list.jpg") no-repeat scroll 1px 6px transparent;padding-left:10px;}


/* Mua sản phẩm*/
.buy{background-image:url('style-img/line.gif'); background-position:top;background-repeat:repeat-x;margin-top:10px;}
.info-basic .div-count{display: inline-block;margin-top:5px;}
.info-basic .div-count .div-count-label{float:left;width:40%;line-height:20px;}
.info-basic .div-count .div-count-text{float:right;width:50%;line-height:20px;}
.info-basic .div-count .div-count-text input{width:30%;text-align:right;padding-right:5px;}

.info-basic .div-buy-icon{margin-top:5px;height:auto;display:block;height:50px;}
.info-basic .div-buy-icon .div-buy-icon-buy{float:left;width:50%;height:auto;text-align:center;}
.info-basic .div-buy-icon .div-buy-icon-addtocard{float:right;width:47%;height:auto;text-align:center;}

.info-basic .div-buy-icon .div-buy-icon-buy a button,.info-basic .div-buy-icon .div-buy-icon-addtocard a button{box-shadow: 0 2px 7px #ddd;moz-box-shadow: 0 2px 7px #d7d7d7;-webkit-box-shadow: 0 2px 7px #d7d7d7;font-weight:bold;cursor:pointer;}
.info-basic .div-buy-icon .div-buy-icon-buy a button{width:100%;height:50px;padding:2px 2px 2px 2px;background-color:#f37021;color:White;font-size:18px;}
.info-basic .div-buy-icon .div-buy-icon-addtocard a button{width:100%;height:50px;padding:2px 2px 2px 2px;background-color:#2c8328;color:White;font-size:13px;}
.info-basic .div-buy-icon .div-buy-icon-buy a button:hover{background-color:#f19d6b;color:Blue;}
.info-basic .div-buy-icon .div-buy-icon-addtocard a button:hover{background-color:#61a85e;color:Black;}

/* So sánh*/
.info-basic .div-compare{margin-top:8px;height:auto;display:inline-block;}

/* Thông tin xem - mua*/
.info-basic .div-info-view-buy{margin-top:3px;margin-bottom:5px;height:auto;display:block;/*height:16px;*/color: #999;font-size: 11px;border-bottom:1px solid #d3d3d3;padding-bottom:5px;}
.info-basic .div-info-like-share{margin-top:3px;margin-bottom:5px;height:auto;display:block;height:16px;color: #999;font-size: 11px;padding-top:5px;padding-bottom:5px;background-image: url('style-img/line.gif');background-position: top;background-repeat: repeat-x;}

/* Thanh toán online*/
.info-basic .div-payment-online{background-image:url('style-img/line.gif'); background-position:top;background-repeat:repeat-x;margin-top:10px;}
.info-basic .div-payment-online .div-group-info-detail{margin-top:5px;display: inline-block;}
.info-basic .div-payment-online .list-info-detail{margin-top:5px;}
.info-basic .div-payment-online .list-info-detail .img-nganluong{content:url('style-img/pay_online_nganluong.png');}
.info-basic .div-payment-online .list-info-detail .img-baokim{content:url('style-img/pay_online_baokim.png');}

/* Đại lý bán*/
.info-basic .div-agent{background-image:url('style-img/line.gif'); background-position:top;background-repeat:repeat-x;margin-top:10px;}
.info-basic .div-agent .div-group-info-detail{margin-top:5px;display: inline-block;}
.info-basic .div-agent .list-info-detail{margin-top:5px;}

/*Các thông tin chi tiết*/
.info-detail{margin-top:10px;display:block;}
.info-detail .info-detail-tab{}
.info-detail .info-detail-tab .menu_bar{height: 29px;background: #efece4;border-bottom: 1px #e3e0d8 solid;}
.info-detail .info-detail-tab .menu_bar ul li{display: block;padding: 0px 4px;float: left;}
.info-detail .info-detail-tab .menu_bar ul li span{display: block;line-height: 30px;height: 30px;padding: 0px 27px;cursor: pointer;color: #999999;font-weight: bold;}
.info-detail .info-detail-tab .menu_bar ul li.menu_bar-seleted span{background: #FFFFFF;border: 1px #e3e0d8 solid;border-bottom: none;padding: 0px 26px;height: 29px;line-height: 28px;font-weight: bold;font-size: 12px;color: #333333;}
/*content tab*/
.info-detail .info-detail-tab .detail_content{padding: 15px 0px;border: 1px #EFECE4 solid;border-top: none;}
.info-detail .info-detail-tab .detail_content .div_tab_content_detail{margin:5px 5px 5px 5px;}

/*Properties tab*/
.info-detail .info-detail-tab .detail_content .div_tab_content_detail .tbl-properties{width:100%;border: 0;border-collapse: collapse;border-spacing: 0;}
.info-detail .info-detail-tab .detail_content .div_tab_content_detail .tbl-properties div.div-properties-group{line-height:30px;height:30px;background-color: #dfdfdf;color:black;margin-bottom:10px;margin-top:10px;background-image:url('style-img/list.png');background-position:left;background-repeat:no-repeat;padding-left: 20px;font-weight:bold;}
.info-detail .info-detail-tab .detail_content .div_tab_content_detail .tbl-properties td{vertical-align:top;background: #fafafa;border: 1px solid #f2f2f2;padding: 0 5px;line-height: 24px;}
.info-detail .info-detail-tab .detail_content .div_tab_content_detail .tbl-properties td.td-stt{width:5%;}
.info-detail .info-detail-tab .detail_content .div_tab_content_detail .tbl-properties td.td-label{width:1%;white-space:nowrap;}
.info-detail .info-detail-tab .detail_content .div_tab_content_detail .tbl-properties td.td-space{width:1%;}
.info-detail .info-detail-tab .detail_content .div_tab_content_detail .tbl-properties td.td-value{width:100%;}


/* Danh sách các sản phẩm liên quan*/
ul.ul-product-relative{list-style-type:none;}
ul.ul-product-relative .div-product-relative-image-label{display:inline-block;height:auto;}
ul.ul-product-relative li.li-product-relative{border-bottom:1px solid #dfdfdf;margin-bottom:5px;}
ul.ul-product-relative li.li-product-relative .div-product-relative-image{float:left;width:30%;}
ul.ul-product-relative li.li-product-relative .div-product-relative-image img{width:100%;height:100%;}
ul.ul-product-relative li.li-product-relative .div-product-relative-label{float:left;width:67%;padding-left:3px;font: normal 13px Arial, sans-serif;}
ul.ul-product-relative li.li-product-relative .div-product-relative-price{display:block;margin-top:5px;margin-bottom:5px;height:auto;}
ul.ul-product-relative li.li-product-relative .div-product-relative-price .div-product-relative-price-old{display:block;text-align:center;text-decoration: line-through;color: #666;}
ul.ul-product-relative li.li-product-relative .div-product-relative-price .div-product-relative-price-new{display:block;text-align:center;font-weight:bold;}

/* Table Style*/
/* Adminlist grids */

table.adminlist {	width: 98%;	border-spacing: 1px;	background-color: #f3f3f3;	color: #666;margin-right:3px;}
table.adminlist td,table.adminlist th {	padding: 4px;}
table.adminlist td {padding-left: 4px;}
table.adminlist thead th {	text-align: center;	background: #f7f7f7;	color: #666;	border-bottom: 1px solid #CCC;	border-left: 1px solid #fff;}
table.adminlist thead th.left {	text-align: left;}
table.adminlist thead a:hover {	text-decoration: none;}
table.adminlist thead th img {	vertical-align: middle;	padding-left: 3px;}
table.adminlist tbody th {	font-weight: bold;}
table.adminlist tbody tr {	background-color: #fff;	text-align: left;}
table.adminlist tbody tr.row0:hover td,table.adminlist tbody tr.row1:hover td	{	background-color: #e8f6fe;}
table.adminlist tbody tr td {	background: #fff;	border: 1px solid #fff;}
table.adminlist tbody tr.row1 td {	background: #f0f0f0;	border-top: 1px solid #FFF;}
table.adminlist tfoot tr {	text-align: center;	color: #333;}
table.adminlist tfoot td,table.adminlist tfoot th {	background-color: #f7f7f7;	border-top: 1px solid #999;	text-align: center;}
table.adminlist td.order {	text-align: center;	white-space: nowrap;	width: 200px;}
table.adminlist td.order span {	float: left;	width: 20px;	text-align: center;	background-repeat: no-repeat;	height: 13px;}
table.adminlist .pagination {	display: inline-block;	padding: 0;	margin: 0 auto;}
/* Tree indentation & nesting - Up to 10 levels deep so don't go crazy :) */
table.adminlist td.indent-4 	{	padding-left: 4px;		}
table.adminlist td.indent-19 	{	padding-left: 19px;		}
table.adminlist td.indent-34 	{	padding-left: 34px;		}
table.adminlist td.indent-49 	{	padding-left: 49px;		}
table.adminlist td.indent-64 	{	padding-left: 64px;		}
table.adminlist td.indent-79 	{	padding-left: 79px;		}
table.adminlist td.indent-94 	{	padding-left: 94px;		}
table.adminlist td.indent-109 	{	padding-left: 109px;	}
table.adminlist td.indent-124 	{	padding-left: 124px;	}
table.adminlist td.indent-139 	{	padding-left: 139px;	}
table.adminlist tr td.btns a {	text-decoration: underline;}

/* Giỏ hàng */
.cart-th-stt{width:10px;white-space:nowrap; }
.cart-th-img{width:50px;white-space:nowrap; }
.cart-th-ten{width:100%;white-space:nowrap; }
.cart-th-soluong{width:10px;white-space:nowrap; }
.cart-th-price{width:20px;white-space:nowrap; }
.cart-th-pricesale{width:20px;white-space:nowrap; }
.cart-th-delete{width:16px;white-space:nowrap; }

.cart-td-stt{width:10px;white-space:nowrap;text-align:right; }
.cart-td-img{width:50px;white-space:nowrap; }
.cart-td-ten{width:100%; }
.cart-td-soluong{width:10px;white-space:nowrap; }
.cart-td-soluong input{text-align:right;width:30px;padding-right:5px; }
.cart-td-price{width:20px;white-space:nowrap;text-align:right; }
.cart-td-pricesale{width:20px;white-space:nowrap; text-align:right;}
.cart-td-delete{width:16px;white-space:nowrap; }
.cart-td-delete .cart-td-delete-img{content:url('style-img/delete.png');}

.cart-homeback{content:url('style-img/home.png');}
.cart-continue-shopping{content:url('style-img/arrow-curve-180.png');}
.cart-updatecart{content:url('style-img/disk-black.png');}
.cart-sentcartdata{content:url('style-img/folder_sent_mail.png');}
.cart-edit{content:url('style-img/edit_16x16.png');}

.cart-td-function{text-align:center;}
.cart-td-function a{font-weight:bold;padding-right:10px;}
.cart-td-function a span{padding-left:2px;}
.cart-td-function a:hover{color:Blue;}

/*Form tài khoản*/
.red {	font-weight: bold;	color: #c00;}

.text_input{	font-size:13px;	width:96%;	padding:4px;}
.text_input_require{	font-size:13px;	width:93%;	padding:4px;}
.DropDownList{	font-size:13px;	width:97%;	padding:4px;}
.text_fileUpload{	font-size:13px;	width:70% !important;	padding:4px;}
.button_fileUpload{	font-size:13px;	width:25% !important;	padding:4px;}
/* Debug acl styling */	
.check-0,table.adminlist tbody td.check-0 {	background-color: #FFFFCF;}
.check-a,table.adminlist tbody td.check-a {	background-color: #CFFFDA;}
.check-d,table.adminlist tbody td.check-d {	background-color: #FFCFCF;}
.tbl-account-register{width:100%;}
.tbl-account-register .key{white-space:nowrap;}
.tbl-account-register input#UserName,.tbl-account-register input#Email{text-transform: lowercase;}

input#UserName,input#Email{text-transform: lowercase;}

.tbl-account-login,.tbl-account-viewinfobasic{width:95% !important;}
.tbl-account-login td{padding-right:2px;}
.tbl-account-viewinfobasic{font-size:8pt !important;}
.tbl-account-viewinfobasic td{padding-right:2px !important;padding-left:1px !important;}
.tbl-account-login td.td-help a,.tbl-account-viewinfobasic td.td-help a{font-weight: bold;}

/* Trang đăng nhập*/
.tbl-account-login-form{width:98.5% !important;}
.tbl-account-login-form td{padding-right:2px;}
.tbl-account-login-form td.td-help a{font-weight: bold;}
.tbl-account-login-form td.key{padding-left:50px !important;}
a.redrect-login{font-weight:bold;color:Blue;}

/* Bắt buộc*/
span.require{color:#bc0a0a; font-weight:bold;}

/* form thiết lập tài khoản*/
.tbl-account-setting td.key{white-space:nowrap;}

/*Popup so sánh*/
.div-compare-product
{
    border-right:1px solid #dfdfdf;width:50px;height:auto;background-color:#F0F0F0;position: fixed;right: 0pt;top: 133px;z-index: 2000;
-webkit-box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.2);-moz-box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.2); box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.2);
}
.div-compare-product-title{text-transform: uppercase;font-weight:bold;text-align:center;border-bottom: 2px solid rgb(172, 171, 171);line-height:30px;height:30px;background-color:#999595;cursor:pointer;}
.div-compare-product-function{text-align:center;width:98% !important;margin:3px 1px 3px 1px;}
.div-compare-product-function input{width:100%;cursor:pointer;}
.div-compare-product-title-showicon{background:white url('style-img/arrow-stop.png') no-repeat;background-position:8% 50%;}
.div-compare-product-title-hideicon{background:white url('style-img/arrow-stop-180.png') no-repeat;background-position:8% 50%;}
.div-compare-product-image{position:fixed;right:0px;top:162px;background: url('style-img/ProductCompare.png') no-repeat;width:120px;height:85px;}
.div-no-product{margin:5px 2px 5px 3px;}


ul.ul-product-compare{list-style-type:none;}
ul.ul-product-compare .div-product-compare-image-label{display:inline-block;height:auto;width: 100%;}
ul.ul-product-compare li.li-product-compare{border-bottom:1px solid #dfdfdf;margin-bottom:5px;}
ul.ul-product-compare li.li-product-compare .div-product-compare-image{float:left;width:10%;}
ul.ul-product-compare li.li-product-compare .div-product-compare-image img{content:url('style-img/delete.png');cursor:pointer;}
ul.ul-product-compare li.li-product-compare .div-product-compare-label{float:left;width:87%;padding-left:3px;font: normal 13px Arial, sans-serif;}
ul.ul-product-compare li.li-product-compare .div-product-compare-price{display:block;margin-top:5px;margin-bottom:5px;height:auto;}
ul.ul-product-compare li.li-product-compare .div-product-compare-price .div-product-compare-price-old{display:block;text-align:center;text-decoration: line-through;color: #666;}
ul.ul-product-compare li.li-product-compare .div-product-compare-price .div-product-compare-price-new{display:block;text-align:center;font-weight:bold;}

/* Bảng so sánh sản phẩm*/
.tbl-product-compare-form .key{width:0%;white-space:nowrap;}
.tbl-product-compare-form .td-product-compare-title{width:20%;font-weight:bold;text-align:center;}
.tbl-product-compare-form .td-product-compare-title span{font-weight:bold;}
.tbl-product-compare-form .td-product-compare-title .td-product-compare-title-image-delete{content:url('style-img/delete.png');cursor:pointer;}

.tbl-product-compare-form .td-product-compare-image{text-align:center;}
.tbl-product-compare-form .tr-product-compare-image .key,.tbl-product-compare-form .tr-product-compare-price .key{text-align:right;}
.tbl-product-compare-form .td-product-compare-price{text-align:center;}
.tbl-product-compare-form .span-price-old{text-decoration: line-through;}
.tbl-product-compare-form .span-price-new{font-weight:bold;color:Red;}
.tr-product-compare-group td{background-color: #7CAEFA !important;color: white !important;font-weight:bold;}
.tr-product-compare-group-property .key{text-align:right;}

/* Sự kiện */
.action-sub{cursor:pointer;}

/* Lọc tìm kiếm sản phẩm */
.defaultContent-ProductFilter{width:99.5%;margin:auto;}
.div-product-filter{position:relative;/*display: inline-block;*/width: 100%;display:flex;}
.div-product-filter-left{float:left;width:21%;background-color:#f7f5f5;min-height:200px;border:1px solid #c6cdcd;height:inherit;}
.div-product-filter-left-title{line-height:25px;text-align:center;font-weight:bold;text-transform:uppercase;background-color:#dddddd;color:Blue;}
.div-product-filter-left-content{margin:auto; width:98%;padding-top:10px;}
/*Hủy chọn thuộc tính lọc*/
.product-filter-delete:before{content:url('style-img/delete.png');cursor:pointer;font-weight:bold;color:#a41515;font-size: 8pt;}

.div-product-filter-right{float:right;width:78%;margin-left:5px;background-color:#f7f5f5;min-height:200px;border:1px solid #c6cdcd;height:inherit;}
.div-product-filter-right-title{line-height:25px;text-align:center;font-weight:bold;text-transform:uppercase;background-color:#dddddd;color:Blue;}
.div-product-filter-right .div-product-filter-right-content-option{line-height:30px;text-align:right;margin-bottom:10px;border-bottom:1px solid #c6cdcd;}
.div-product-filter-right .div-product-filter-right-content{padding-left:5px;padding-right:5px;}

.div-product-filter fieldset{margin-top: 4px;margin-bottom: 3px;border: 1px solid #75c1e7;padding-left:8px;}
.div-product-filter fieldset legend{ -webkit-margin-start: 6px !important;-webkit-margin-end: 6px !important;padding-left:5px;padding-right:5px;font-weight:bold;}
.div-product-filter .product-filter-ul{list-style:none;width:100%;padding-left:3px;padding-right:2px;margin-top:10px;}
.div-product-filter .product-filter-ul .product-filter-ul-li{line-height:25px;}

.div-product-filter-left-content-tbl_infosearch{margin: auto;width:90%}
.div-product-filter-left-content-tbl_infosearch .text_input_search_name, .div-product-filter-left-content-tbl_infosearch .text_input_search_function{font-size: 13px;padding: 4px;}
.div-product-filter-left-content-tbl_infosearch .text_input_search_name{width:90%;}
.div-product-filter-left-content-tbl_infosearch .text_input_search_function{width:auto;}
.product-filter-ul-li .label-value{}

.div-product-filter-right-content-detail-result .no-product{line-height:30px;font-weight:bold;}
.div-product-filter-right-content-detail-result .div_list_product{height: auto;display: inline-block;}

/* Hiển thị popup tìm kiếm*/
.product-filter-overlay{line-height:50px;z-index: 10000;display:none;border: none;margin: 0px;padding: 0px;width: 100%;height: 100%;top: 0px;left: 0px; /*opacity: 0.6;*/cursor: wait;position: fixed; /*background-color: rgb(0, 0, 0);background: rgba(235, 234, 228, 0.4);*/background: rgba(0, 0, 0, 0.6);        }
.product-filter-overlay div{z-index: 10011;position: fixed;padding: 0px;margin: 0px;width: 30%;top: 40%;left: 35%;text-align: center;color: rgb(0, 0, 0);border: 2px solid rgb(170, 170, 170);cursor: wait;background-color: rgb(255, 255, 255);height: 50px;font-weight: bold; /*opacity:1;*/}
.product-filter-overlay .product-filter-overlay-img{content:url('style-img/grid-loading.gif');}

.product-filter-loading{line-height:50px;display:none;font-weight:bold;}
.product-filter-loading .product-filter-loading-img{content:url('style-img/grid-loading.gif');}

/* Text muti line*/
textarea:focus, input:focus{/*border-color: rgba(234,255,253,0.7);box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset,0 0 1px rgba(102,175,233,0.6);outline: 0 none;*/background-color:#f3f7a6;}

/*Phân trang*/
/*.div-product-filter-right .div-page{margin:auto; display:block;line-height:35px;text-align:center;margin-top:10px;margin-bottom:5px;background-color:#d0e5db}
.div-product-filter-right .div-page .span-page{border:1px solid #b8ae9c;padding:6px;margin-right:1px;cursor:pointer;}
.div-product-filter-right .div-page .span-page:hover{background-color:White;color:Blue;}
.div-product-filter-right .div-page .span-page-current{border:1px solid #b8ae9c;padding:6px;margin-right:1px;background-color:White;font-weight:bold;color:Blue;}*/

.div-page{margin:auto; display:block;line-height:35px;text-align:center;margin-top:10px;margin-bottom:5px;background-color:White;}
.div-page .span-page{color:White;padding: 4px 8px 4px 8px;margin-right:1px;cursor:pointer;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;background: -webkit-gradient(linear,0 0,0 100%,from(#5cbcf0),to(#45abec));}
.div-page .span-page:hover{color: #358fdd;background: #dff4ff;}
.div-page .span-page-current{padding: 4px 8px 4px 8px;margin-right:1px;font-weight:bold;color: #358fdd;background: #dff4ff;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}

/* Các bình luận của sản phẩm*/
.div-comment-group{border-color: rgba(234,255,253,0.7);box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset,0 0 1px rgba(102,175,233,0.6);outline: 0 none;margin-top:10px;padding:10px 3px 10px 5px;}
.div-comment-group .div-comment-group-info-user{border-bottom:1px solid #dddddd;padding:2px;}
.div-comment-group .div-comment-group-info{font-weight:bold;padding-right:10px;}
.div-comment-group-info-email,.div-comment-group-info-address,.div-comment-group-info-date{font-size:10pt;color:#d3d3d3;padding-right:10px;}
.div-comment-group .div-comment-content{margin-top:10px;padding-left:15px;}
.div-comment-list{margin-top:10px;}

/* Link xem thêm trên các module*/
.div-viewall{margin:10px 3px 5px 3px;text-align:right;}
.div-viewall a{font-weight:bold;color:#1a1a8d;}

/*read only*/
input[type='text'][readonly='readonly'],textarea[readonly='readonly']{background-color:#ffd487;}

/* Box search*/
.box-search{line-height:30px;position: relative;top: 2px;left: 5px;}
.box-search input{text-indent:3px;padding:2px !important;}
.box-search .box-search-icon,.box-search-icon:after{content:url('style-img/search.png');cursor:pointer;}

/* Popup Khảo sát*/
.popup-survey {position:fixed;min-width: 200px;z-index:2000;bottom:10px;left:5px;background-color:White;opacity: 0.8;border:1px solid #dddddd;padding:5px 2px 5px 2px;}
.popup-survey .popup-title{text-transform:uppercase;font-weight:bold;text-align:center;cursor:pointer;background-color:#a83434;padding:3px;color:White;}
.popup-survey .popup-title .module-popup-title-img[Opened='1']:after{content:url('style-img/arrow-stop-270.png');}
.popup-survey .popup-title .module-popup-title-img[Opened='0']:after{content:url('style-img/arrow-stop-090.png');}
.popup-survey .popup-content .popup-content-group{margin-top:10px;border:1px solid #f0f0f0;}
.popup-survey .popup-content .popup-content-group .popup-content-group-title{font-weight:bold;margin-top:5px;padding-left:3px;padding-bottom:5px;border-bottom:1px solid #dddddd;}
.popup-survey .popup-content .popup-content-group .popup-content-group-content{margin-top:5px;}
.popup-survey .popup-content .popup-content-group .popup-content-group-content .popup-content-group-content-ul{list-style:none;padding-left:15px;}
.popup-survey .popup-content .popup-content-group .popup-content-group-content .popup-content-group-content-ul-li{line-height:30px;}
/*Nút bấm*/
.popup-survey .popup-content .popup-content-group .popup-content-group-content .popup-content-group-function{text-align:center;padding-top:5px;padding-bottom:5px;}
.popup-survey .popup-content .popup-content-group .popup-content-group-content .popup-content-group-function input{padding:4px;}

/*Css popup*/
/*.div-module-popup {position:fixed;min-width: 200px;z-index:2000;bottom:5px;left:5px;background-color:White;opacity: 0.8;border:1px solid #dddddd;padding:5px 2px 5px 2px;}
.div-module-popup .module-popup-title{text-transform:uppercase;font-weight:bold;text-align:center;cursor:pointer;background-color:#a83434;padding:3px;color:White;}
.div-module-popup .module-popup-title .module-popup-title-img[Opened='1']{content:url('style-img/arrow-stop-270.png');}
.div-module-popup .module-popup-title .module-popup-title-img[Opened='0']{content:url('style-img/arrow-stop-090.png');}
.div-module-popup .popup-content .popup-content-group{margin-top:10px;border:1px solid #f0f0f0;}
.div-module-popup .popup-content .popup-content-group .popup-content-group-title{font-weight:bold;margin-top:5px;padding-left:3px;padding-bottom:5px;border-bottom:1px solid #dddddd;}
.div-module-popup .popup-content .popup-content-group .popup-content-group-content{margin-top:5px;}
.div-module-popup .popup-content .popup-content-group .popup-content-group-content .popup-content-group-content-ul{list-style:none;padding-left:15px;}
.div-module-popup .popup-content .popup-content-group .popup-content-group-content .popup-content-group-content-ul-li{line-height:30px;}*/

/*Popup Phản hồi*/

.div-popup-feedback {position:fixed;min-width: 200px;z-index:2000;bottom:10px;right:5px;background: #e6f7ff none no-repeat;border:1px solid #dddddd;padding:5px 2px 5px 2px;}
.div-popup-feedback table{background: #e6f7ff none no-repeat;width:99.5%;}
.div-popup-feedback .module-popup-title{text-transform:uppercase;font-weight:bold;text-align:center;cursor:pointer;background-color:#a83434;padding:3px;color:White;}
.div-popup-feedback .module-popup-title .module-popup-title-img[Opened='1']:after{content:url('style-img/arrow-stop-270.png');}
.div-popup-feedback .module-popup-title .module-popup-title-img[Opened='0']:after{content:url('style-img/arrow-stop-090.png');}
.div-popup-feedback .popup-content .popup-content-group{margin-top:10px;border:1px solid #f0f0f0;}
.div-popup-feedback .popup-content .popup-content-group .popup-content-group-title{font-weight:bold;margin-top:5px;padding-left:3px;padding-bottom:5px;border-bottom:1px solid #dddddd;}
.div-popup-feedback .popup-content .popup-content-group .popup-content-group-content{margin-top:5px;}
.div-popup-feedback .popup-content .popup-content-group .popup-content-group-content .popup-content-group-content-ul{list-style:none;padding-left:15px;}
.div-popup-feedback .popup-content .popup-content-group .popup-content-group-content .popup-content-group-content-ul-li{line-height:30px;}

/*Popup nhận bản tin*/

.div-popup-mail-news-letter {position:fixed;min-width: 200px;z-index:2000;bottom:10px;left:210px;background: #e6f7ff none no-repeat;border:1px solid #dddddd;padding:5px 2px 5px 2px;}
.div-popup-mail-news-letter table{background: #e6f7ff none no-repeat;width:99.5%;}
.div-popup-mail-news-letter .module-popup-title{text-transform:uppercase;font-weight:bold;text-align:center;cursor:pointer;background-color:#a83434;padding:3px;color:White;}
.div-popup-mail-news-letter .module-popup-title .module-popup-title-img[Opened='1']:after{content:url('style-img/arrow-stop-270.png');}
.div-popup-mail-news-letter .module-popup-title .module-popup-title-img[Opened='0']:after{content:url('style-img/arrow-stop-090.png');}
.div-popup-mail-news-letter .popup-content .popup-content-group{margin-top:10px;border:1px solid #f0f0f0;}
.div-popup-mail-news-letter .popup-content .popup-content-group .popup-content-group-title{font-weight:bold;margin-top:5px;padding-left:3px;padding-bottom:5px;border-bottom:1px solid #dddddd;}
.div-popup-mail-news-letter .popup-content .popup-content-group .popup-content-group-content{margin-top:5px;}
.div-popup-mail-news-letter .popup-content .popup-content-group .popup-content-group-content .popup-content-group-content-ul{list-style:none;padding-left:15px;}
.div-popup-mail-news-letter .popup-content .popup-content-group .popup-content-group-content .popup-content-group-content-ul-li{line-height:30px;}


/*Tin tức*/
.div-news{text-align:left;background-color:White;border: 1px solid #d3d3d3;box-shadow: 0 2px 7px #ddd;moz-box-shadow: 0 2px 7px #d7d7d7;-webkit-box-shadow: 0 2px 7px #d7d7d7;margin-right:2px;margin-bottom:10px;}
.div-news .news-title{padding:6px;font-weight:bold;text-transform:uppercase;border-bottom: 2px solid rgb(172, 171, 171);}
.div-news .news-content{padding:6px;margin-top:5px;}
.no-news{padding:6px;color:#c60001;}

/*Chi tiết tin tức*/
.news-detail-title{padding:10px;}
.news-detail-title .news-detail-title-datetime{padding:3px;font-size:8pt;color:#dddddd;font-family:.Arial;}
.news-detail-title .news-detail-title-text{font: 700 24px/23px "Times New Roman";color: #004175;margin-bottom:5px;}
.news-detail-title .news-detail-description-text{margin-bottom:5px;margin-top: 10px;}
.news-detail-title .news-detail-description-text h2{font: 700 16px/18px "Times New Roman";color: #5f5f5f;}
.news-detail-tag{margin-top:10px;padding:5px;border:1px solid #dddddd;}
.news-detail-tag a:hover{color:Orange;font-weight:bold;}
.news-detail-content{font: 500 12px/18px Arial;font-family: Arial/*Times New Roman*/;font-size: 13px;font-style: normal;font-variant: normal;font-weight: 500;line-height: 25px;margin-bottom:5px;}
/*Share */
.news-detail-share{margin-top:10px;padding:5px;border:1px solid #dddddd;line-height:normal;}
.news-detail-share b{position: relative;bottom: 5px;margin-right:10px;}

/*Bình luận tin tức*/
.div-no-comment{padding:4px;}
.news-detail-comment{margin-top:5px;padding:3px;border: 1px solid #d3d3d3;}
.news-detail-comment .news-detail-comment-title{font-weight:bold;text-align:left;font-family:Arial;padding:5px;background-color:#f9d492;text-transform:uppercase;}
.news-detail-comment-sentcomment{margin-top:10px;}
.news-detail-comment-sentcomment textarea{width:95%;}
.news-detail-comment-sentcomment table{width:100%;background-color:#f7f3d6;}
.news-detail-comment-sentcomment .news-detail-comment-sentcomment-title{padding:4px;text-align:left;background-color:#f9d492;}

/* Các tin khác*/
.news-detail-other{margin-top:5px;padding:3px;border: 1px solid #d3d3d3;}
.news-detail-other .news-detail-other-title{font-weight:bold;padding:5px;text-transform:uppercase;border-bottom:1px solid #dddddd;}
.news-detail-other .news-detail-other-list{padding:4px;}

/* Chung cho module*/
.div-module{text-align:left;background-color:White;border: 1px solid #d3d3d3;box-shadow: 0 2px 7px #ddd;moz-box-shadow: 0 2px 7px #d7d7d7;-webkit-box-shadow: 0 2px 7px #d7d7d7;margin-right:2px;margin-bottom:10px;}
.div-module .module-title{padding:6px;font-weight:bold;text-transform:uppercase;border-bottom: 2px solid rgb(172, 171, 171);}
.div-module .module-content{padding:6px;margin-top:5px;}
.div-module .module-content .module-paging{margin:5px 0px 5px 0px;padding:0px 3px 0px 3px;}
.div-module .module-content .module-paging a.selected{background: #799AE3;color: #FFFFFF;border-color: #E6E6E6;}

/*Tin tức khác*/
.news-detail-other .news-detail-other-list ul{list-style-type: disc;padding-left: 20px;}
.news-detail-other .news-detail-other-list ul li{line-height:15px;}
.div-news-title-info-date{font-size:8pt;color:#d3d3d3;padding-right:10px;}
/*Ảnh cho tin tức*/
img.news-icon-default{content:url('style-img/icon_news_default.png');}
img.news-icon-new{content:url('style-img/icon_news_new.gif');}
img.news-icon-hot{content:url('style-img/icon_news_hot.gif');}

/*Go to top*/
.go_top{display: block;position: fixed;z-index: 99;bottom: 10%;right: 10px;}
.go_top img{content:url('style-img/go_to_top.png');width: 70px;height: 70px;}

sup font{position:relative;top:2px;}

.button,input[type='button'],input[type='submit'],input[type='reset'] {font-family: 'Open Sans Condensed', sans-serif;font-size: 12px;cursor: pointer;text-transform: uppercase;background: #4690cd;color: #fff;padding: 5px 20px;font-weight: 700;border: 0px none;line-height: initial;border-bottom: solid 2px #2c79b8;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;text-decoration: none;display: inline-block;text-align: center;transition-duration: 200ms;-moz-transition-duration: 200ms;-webkit-transition-duration: 200ms;-o-transition-duration: 200ms;}
.button:hover,input[type='button']:hover,input[type='submit']:hover,input[type='reset']:hover {background: #0076b2;text-decoration: none;border-bottom: solid 2px #2c79b8;}