@charset "utf-8";
.box_menu{	width: 100%;	height: 31px !important;	background-image: url('../Images/Menu/mainnav-bg.gif');	border-bottom-style: groove;	border-bottom-width: 2px;	border-bottom-color: #2E9202;} 
#wrapper {width: 100%; margin: 0px auto;}
#nav li { list-style: none inside; float: left; height: 30px; line-height: 30px; border-right: 1px solid #eee;  position: relative;color:#fff; font-family:tahoma !important; font-size:13px !important; font-weight:bold}
#nav li a{color: Black; display: block; padding: 0 3px; text-decoration: none}
#nav li li {border-top: 1px solid #eee}
#nav li li a{display: block;}
#nav li:hover, #nav ul, #nav li.current { background: #2E9202 }
#nav li a span{float: left; display: block;padding: 1px 15px 0 5px; margin:0}
#nav li ul li a span{text-align: left;float: left; display: block;padding: 0px 1px 0 10px !important; margin:0; width: 150px;}
#nav li ul li a span:hover{color:#FFF000;}
#nav ul {display: none; position: absolute; top: 30px; left: 0px;z-index:9999;}
#nav li:hover ul { display: block;color:White;}
#nav li ul li:hover{background-color:#032579 !important;}
#nav li:hover a{color:White;}
#nav li:hover ul ul,
#nav li:hover ul ul ul {display: none;}
#nav li li:hover ul,
#nav li li li:hover ul {display: block;}
#nav ul ul {left: 168px; top: -1px}
#nav li.down{background-image: url("../Images/Menu/arrow-down.png"); background-repeat: no-repeat; background-position: 94% 60% }
/*#nav li.down{padding-left:5px;} background: #64AC09;*/
#nav li.right{background-image: url("../Images/Menu/arrow-right.png"); background-repeat: no-repeat; background-position: 99% 60% }
#nav li.mainnav-sep{width:1px; background-image: url("../Images/Menu/mainnav-sep.gif");background-repeat: no-repeat;}
.Active, .Active a{background: #2E9202;color: White !important;}
.top-menu-li-image{width:1px !important;}
/*Menu trái*/
#wrapper_left {width: 100%; margin: 0px auto;text-align:left !important;}
#nav_left li { list-style: none inside; float: left; height: 30px; line-height: 30px;  position: relative;color:#fff; font-family:tahoma !important; font-size:13px !important; font-weight:bold}
#nav_left li a{color: Black; display: block; padding: 0 3px; text-decoration: none}
#nav_left li li {border-top: 1px solid #eee}
#nav_left li li a{display: block;}
#nav_left li:hover, #nav_left ul, #nav_left li.current { background: #2E9202 }
#nav_left li a span{float: left; display: block;padding: 1px 45px 0 5px; margin:0; width: 175px;}
#nav_left li a span img{padding-bottom:2px;}
#nav_left li ul li a span{text-align: left;float: left; display: block;padding: 0px 1px 0 10px !important; margin:0; width: 150px;}
#nav_left li ul li a span:hover{color:#FFF000;}
#nav_left ul {display: none; position: absolute; top: 0px; left: 101%}
#nav_left li:hover ul { display: block;color:White;}
#nav_left li ul li:hover{background-color:#032579 !important;}
#nav_left li:hover a{color:White;}
#nav_left li:hover ul ul,
#nav_left li:hover ul ul ul {display: none;}
#nav_left li li:hover ul,
#nav_left li li li:hover ul {display: block;}
#nav_left ul ul {left: 168px; top: -1px}
#nav_left li.down{background-image: url("../Images/Menu/arrow-right.png"); background-repeat: no-repeat; background-position: 99% 60% }
/*#nav_left li.down{padding-left:5px;} background: #64AC09;*/
#nav_left li.right{background-image: url("../Images/Menu/arrow-right.png"); background-repeat: no-repeat; background-position: 99% 60% }
#nav_left li.mainnav_left-sep{width:1px; background-image: url("../Images/Menu/mainnav_left-sep.gif");background-repeat: no-repeat;}
.left-menu-li-image{  margin-bottom:0px !important; margin-top:0px !important;line-height: 0px !important;height:5px !important; /*padding-top:1px !important; padding-bottom:1px !important;*/}
.left-menu-li-image:hover{background-color:transparent !important;}